<ul class="nav nav-sidebar">
    <li><a href="#">Accueil</a></li>
    <li ><a href="#">Outils<span class="sr-only">(current)</span></a></li>
    <ul>
        <li>
            <a href="http://local.dev/WildHackathon/agrigestion/agrixchange-front/#/parcelle">Mon suivi parcellaires <span class="sr-only">(current)</span></a></li>
        </li>
    </ul>
    <li><a href="#">Communauté</a></li>
    <li><a href="#">Statistiques</a></li>
</ul>